/* Author : Idin Iskandar
Template : Landing page phone store 
created at : 07 Mei 2024 */

#Cuaca {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */ /* Pastikan ini setidaknya sebesar tinggi viewport */
}

/* Style untuk Widget Cuaca */
.weather-widget {
  background-color: #0f1117;
  color: #f8f8ff ;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center; /* Teks di tengah */
  align-items: center;
  margin: 0 auto; /* Pusatkan secara horizontal */
}


.weather-header h2 {
  color: #f8f8ff;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weather-icon img {
  width: 100px; /* Atur ukuran ikon cuaca */
  height: auto;
  margin: 0 auto; /* Pusatkan ikon cuaca */
}

.weather-info {
  color: #f8f8ff;
  font-size: 1em;
  margin-bottom: 20px;
}

.weather-temp #temperature {
  font-size: 2em;
  font-weight: bold;
}

.weather-desc #description,
.weather-location #location {
  font-size: 1em;
}

.weather-footer {
  margin-top: 20px;
}

.btn-weather {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-weather:hover {
  background-color: #0056b3;
}

